[% site_config.title = c.loc('Reset Web Password') -%]
[% IF edit_flag || create_flag -%]
[%
    PROCESS "helpers/modal.tt";
    modal_header(m.name = c.loc('Web Password'),
                 m.create_flag = create_flag);
    translate_form(form).render();
    modal_footer();
    modal_script(m.close_target = close_target);
-%]
[% END -%]
[% # vim: set tabstop=4 syntax=html expandtab: -%]
