.annotate.assigned,
.annotate.assigned .arrow-top:after, .annotate.assigned .arrow-bottom:after,
.annotate.assigned .arrow-left:after, .annotate.assigned .arrow-right:after {
  background: white;
  color: #008800;
  border: 1px solid #008800;
}

.annotate.unassigned,
.annotate.unassigned .arrow-top:after, .annotate.unassigned .arrow-bottom:after, 
.annotate.unassigned .arrow-left:after, .annotate.unassigned .arrow-right:after {
  background: white;
  color: #ff9900;
  border: 1px solid #ff9900;
}

.annotate {
  display: inline-block;
  position: absolute;
  padding: 1px 3px 1px 1px;
  border-radius: 1px;
  text-align: center;
  line-height:14px;
  font: 12px "Open Sans", Sans-Serif;
  box-shadow: 0 0 3px black;
}

.arrow-top {
  width: 50px;
  height: 10px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  bottom: -10px;
}
.arrow-top:after {
  content: "";
  position: absolute;
  left: 12px;
  top: -25px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
}

.arrow-bottom {
  width: 50px;
  height: 10px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  top: -10px;
}
.arrow-bottom:after {
  content: "";
  position: absolute;
  left: 12px;
  bottom: -25px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
}

.arrow-left {
  width: 10px;
  height: 50px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  right: -10px;
}
.arrow-left:after {
  content: "";
  position: absolute;
  left: -25px;
  top: 11px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
}

.arrow-right {
  width: 10px;
  height: 50px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  left: -10px;
}
.arrow-right:after {
  content: "";
  position: absolute;
  right: -25px;
  top: 11px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
}
