<div class="sw_actions pull-right controls" style="width: 120px;"><a id="[%vars.field.full_name%].label" class="btn btn-small btn-primary ngcp-label-field-switch" data-field="[%vars.field.full_name%]" style="visibility:visible;">[%c.loc(vars.field.label)%]</a> </div>
<div class="sw_actions pull-right controls" style="width: 120px;padding-top: 5px;"><a id="invert_field.[%vars.field.full_name%]" class="btn btn-mini btn-secondary" data-field="[%vars.field.full_name%]" style="visibility:visible;">[%c.loc('Invert selection')%]</a> </div>
<div class="sw_actions pull-right controls" style="width: 120px;"><a id="clear_field.[%vars.field.full_name%]" class="btn btn-mini btn-secondary" data-field="[%vars.field.full_name%]" style="visibility:visible;" data-confirm="Clear" cancel-hide="1" href="javascript:void(0);" confirm-click="clearValue('[%vars.field.full_name%]');">[%c.loc('Clear')%]</a> </div>
