<label id="[%vars.field.full_name%].label" class="control-label" style="width: 0px; margin: 0px; padding: 0px;" data-toggle-on="" data-toggle-off=""> </label> <div class="sw_actions pull-right controls" style="margin-left: 0px; padding-left: 0px;"><a id="[%vars.field.full_name%].label.control" class="btn btn-small btn-primary" style="visibility:visible;" href="javascript:toggleEndField('[%vars.field.full_name%]');void(0);" data-toggle-on="[%c.loc('None')%]"  data-toggle-off="[%c.loc('Set')%]"> </a> </div>