<div class="sw_actions pull-right controls" style="width: 120px;"><a id="[%vars.field.full_name%].label" class="btn btn-small btn-primary ngcp-label-field-switch" data-field="[%vars.field.full_name%]" style="visibility:visible;" href="javascript:toggleLabeledField('[%vars.field.id%]');void(0);">[%c.loc(vars.field.label)%]</a> </div>