<label id="[%vars.field.full_name%].label" class="control-label" style="width:100px;" data-toggle-on="" data-toggle-off="[%c.loc('Endless event')%]"> </label> <div class="sw_actions pull-right controls"><a id="[%vars.field.full_name%].label.control" class="btn btn-small btn-primary" style="visibility:visible;" href="javascript:toggleEndField('[%vars.field.full_name%]');void(0);" data-toggle-on="[%c.loc('Endless event')%]"  data-toggle-off="[%c.loc('Customize..')%]"> </a> </div>