/* ---------
  Globals
------------*/

body {
    overflow-y: scroll;
}

.btn:hover, .btn:focus {
    background-position: 0 0;
    transition: none;
}

/* ---------
  The modal
------------*/

div.ngcp-modal {
    max-width: 816px;
    width: 100%;
    margin: -250px 0 0 -408px;
    top: 50%;
    left: 50%; /* override responsive css (bootstrap-responsive.css) */
    display: block;
}
@media (max-width: 830px) {
    div.ngcp-modal {
        margin-left: -50%;
    }
}

div.ngcp-modal .table thead tr th, div.modal .table tbody tr td {
    padding-top: 4px;
    padding-bottom: 4px;
}

div.ngcp-modal .help-inline {
    clear: both;
    float: left;
}

.tooltip {
    /* make sure to put the tooltip over the modal */
    z-index: 2000 !important;
    position: fixed !important;
}

div.ui-datepicker {
    /* make sure to put the datepicker over the header */
    z-index: 2000 !important;
}

dt.ui_tpicker_time_label,
dt.ui_tpicker_hour_label,
dt.ui_tpicker_minute_label,
dd.ui_tpicker_time
{
    color: gray;
}

button.ui-datepicker-current.ui-state-hover {
    border: 5px solid blue;
}

/* remove left margin for repeatable elements */

div.ngcp-modal div.modal-body div.control-group.hfh-rep {
    margin-left: 0;
}

div.ngcp-modal div.modal-body div.control-group.hfh-rep div.controls {
    margin-left: 0;
}

div.ngcp-modal div.modal-body div.control-group.hfh-rep div.controls div.hfh-rep-field .controls {
    margin-left: 180px;
}


div.ngcp-modal div.modal-body div.control-group.hfh-rep-block div.control-group.hfh-repinst div.controls {
    margin-left: 0;
}

div.ngcp-modal div.modal-body div.control-group.hfh-rep-block div.control-group.hfh-repinst div.controls div.control-group {
    margin-left: 0;
}

div.ngcp-modal div.modal-body div.control-group.hfh-rep-block div.control-group.hfh-repinst div.controls div.control-group div.controls {
    margin-left: 180px;
}

/* align timeset elements in one row */

div.ngcp-timeset-row {
    margin-left: 180px;
}

div.ngcp-timeset-row label {
    margin: 0 0 5px 0;
    display: block;
    width: 100% !important;
    text-align: center !important;
}

div.ngcp-timeset-widget {
    width: 86px;
    position: relative;
    float: left;
    margin: 0 5px 10px 0;
    padding: 3px;
    border: 1px solid #eeeeee;
}

div.ngcp-timeset-widget:last-of-type  {
    margin-right: 0;
}

div.ngcp-timeset-field {
    width: 100%;
    margin: 0 !important;
    position: relative;
    display: block;
}

div.ngcp-timeset-field div.controls {
    margin: 0 !important;
}

/* align cf destination radio group */
div.ngcp-destination-row {
    margin-left: 180px !important;
}

div.ngcp-destination-row-simple {
    margin-left: 0px !important;
}

input.ngcp-destination-field {
    width: 30%;
}


/* align buttons in one row in modal-footer */

div.modal-footer div.control-group div.controls {
    margin-left: 5px;
}

/* ---------
  Datatable (main one)
------------*/

table.ngcp-datatable {
    margin: 1em 0;
    clear: both;
}

table.ngcp-datatable .header {
    cursor: pointer;
}

table.ngcp-datatable .header:after {
  content: "";
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #fff transparent;
  visibility: hidden;
}
table.ngcp-datatable .header:hover:after {
  visibility: visible;
}
table.ngcp-datatable .headerSortDown:after, table.ngcp-datatable .headerSortDown:hover:after {
  visibility: visible;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}
table.ngcp-datatable .headerSortUp:after {
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  visibility: visible;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}

.ngcp-actions-column { /* TODO: use responsive design */
    width: 10px;
    white-space: nowrap;
}

div.ngcp-separator {
    margin-top:10px;
}

/* make inline-form inline *sic* */
form.form-inline div.control-group {
    float: left;
}
form.form-inline div.control-group label.control-label {
    float: left;
    margin-right: 5px;
    padding-top: 5px;
}
form.form-inline div.control-group div.controls {
    float: left;
    margin-right: 20px;
}

/* shift statistics canvas a bit to the right */
div.ngcp-statistics {
    margin: 30px 0 0 30px;
}

div.ngcp-plot {
    margin-bottom: 30px;
}

div.ngcp_dt_top_elements {
    position: relative;
    margin-top: 10px;
}

div.ngcp_dt_top_elements > div:first-child {
    float: left;
}

div.ngcp_dt_top_elements > div:first-child label {
    width: auto;
}

div.ngcp_dt_top_elements > div:first-child + div {
    float: right;
}

div.ngcp_dt_top_elements > div:first-child + div + div {
    position: absolute;
    bottom: 0;
    width: 100%;
}

div.ngcp_dt_top_elements > div:first-child + div + div > div {
    margin:0 auto;
    text-align: center;
}

/* ---------
  sw_actions (Action Buttons)
------------*/

div.sw_actions {
    visibility: hidden;
}

div.sw_actions a {
    display:inline;
    line-height:16px;
    margin-left:5px;
}

div.sw_actions a:first-child {
    margin-left:0px;
}

div.sw_actions a i {
    line-height:1em;
    margin-top:2px;
}

/* ---------
  Datatable (without closer spec)
------------*/

div.dataTables_length label {
    width: 460px;
    float: left;
    text-align: left;
}
 
div.dataTables_filter, div.dataTables_paginate {
    float: right;
}

div.dataTables_filter label {
    float: left;
    margin-left: 5px;
}

input.ngcp-datepicker {
    width: 9em;
}

@media (max-width: 300px) {
    div.dataTables_filter {
        float: none;
    }
}
 
div.dataTables_info {
    padding-top: 8px;
}
 
div.dataTables_paginate {
    float: right;
    margin: 0;
}

div.dataTables_paginate a.btn {
    margin-left: 3px;
}

/* ---------
  Datatable Field (inside modal)
------------*/

div.ngcp-modal .dataTables_wrapper {
    /*padding: 5px;*/
}

div.ngcp-modal .control-group.error .dataTables_wrapper {
    border: 1px solid #B94A48;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -mozilla-border-radius: 3px;
}

div.ngcp-modal .dataTables_wrapper input[type="text"] {
    line-height: 10px;
    height: 10px;
}

div.ngcp-modal .control-group.error .dataTables_wrapper input[type="text"] {
    border: 1px solid #cccccc;
}

/* ---------
  Preferences view
------------*/

.ngcp-entry-disabled {
	text-decoration: line-through;
}

.ngcp-modal-preferences .control-group .control-label {
    width: auto;
    padding-right: 10px;
}

.ngcp-modal-preferences .control-group .controls {
    overflow: hidden;
}

/* ---------
  Widgets
------------*/

.plan .plan-features {
    min-height:135px; /* 3 rows */
}

.plan .ngcp-green-ok {
    color:#0f0;
}

.ngcp-quickform div.form-actions {
    padding-left: 0px;
}

.plan .plan-features.large {
    min-height:325px;
}

.plan .plan-features div.row-fluid [class*="span"] {
    min-height: 10px;
    text-align: left;
}

/* -------------
  Various form fields
----------------*/
.modal-body .control-group .controls > input[type="text"],
.modal-body .control-group .controls > input[type="password"],
.modal-body .control-group .controls > select {
   padding: 4px 0;
   width: 100%;
}
.modal-body .control-group .controls input.ngcp_e164_cc {
    width: 15%;
}
.modal-body .control-group .controls input.ngcp_e164_ac {
    width: 15%;
}
.modal-body .control-group .controls input.ngcp_e164_sn {
    width: 67%;
    float: right;
}
.modal-body div.ngcp_field_inline {
    display: inline-block;
    *display: inline;
    width: 218px;
}
.modal-body div.ngcp_field_inline input {
    width: 206px !important;
    padding: 4px 6px !important;
}

#number_patterns_local_ac > label {
    display: inline;
    cursor: not-allowed;
}

textarea.ngcp-autoconf-area {
    width: 580px;
}

/* vim: set tabstop=4 syntax=css expandtab: */
