[% site_config.title = c.loc('InvoicePeriods') -%]
[%
    helper.name = c.loc('InvoicePeriods');
    helper.name_single = c.loc('InvoicePeriod');
    helper.identifier = 'InvoicePeriod';
    helper.top_buttons = "";
  
    PROCESS 'helpers/datatables_vars.tt';
    PROCESS 'helpers/datatables.tt';
-%]
[% # vim: set tabstop=4 syntax=html expandtab: -%]
