[% site_config.title = c.loc('Invoices') -%]
[%
    helper.name = c.loc('Invoices');
    helper.name_single = c.loc('Invoice');
    helper.identifier = 'invoice';
    helper.top_buttons = "";
  
    PROCESS 'helpers/datatables_vars.tt';
    PROCESS 'helpers/datatables.tt';
-%]
[% # vim: set tabstop=4 syntax=html expandtab: -%]
