<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <title>Allowed methods</title>
    </head>
    <body>
        <p>Allowed methods: [% allowed_methods | html %]</p>
    </body>
</html>
