<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <title>Bad request</title>
    </head>
    <body>
        <p>The request must not contain <tt>Link</tt> headers. Instead assert relationships in the entity body.</p>
    </body>
</html>
