<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <title>Internal Server Error</title>
    </head>
    <body>
        <p>An error occured during processing the request.</p>
        <p><samp>[% error_message | html %]</samp></p>
    </body>
</html>
