<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <title>Not found</title>
    </head>
    <body>
        <p>Entity <tt>[% entity_name | html %]</tt> not found</p>
    </body>
</html>
