<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <title>Unprocessable entity</title>
    </head>
    <body>
        <p>The entity could not be processed.</p>
        <p><samp>[% error_message | html %]</samp></p>
    </body>
</html>
