<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <title>Unsupported media type</title>
    </head>
    <body>
        <p>Unsupported media type, accepting entities of type <tt>[% media_type | html %]</tt> only.</p>
    </body>
</html>
