Source: ngcp-panel
Section: admin
Priority: extra
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends: debhelper (>= 8),
               libcarp-fix-1-25-perl,
               libcatalyst-actionrole-acl-perl,
               libcatalyst-devel-perl,
               libcatalyst-modules-perl,
               libcatalyst-perl (>= 5.90040),
               libcatalyst-view-tt-perl,
               libconvert-ascii85-perl,
               libdata-printer-perl,
               libdata-validate-ip-perl,
               libdatetime-format-iso8601-perl,
               libdatetime-format-rfc3339-perl,
               libdatetime-format-mysql-perl,
               libdbix-class-resultset-recursiveupdate-perl (>= 0.30~),
               libdevel-cover-perl,
               libfile-type-perl,
               libgd-gd2-perl,
               libhash-merge-simple-perl,
               libhash-storediterator-perl,
               libhtml-formhandler-model-dbic-perl,
               libhtml-formhandler-perl (>= 0.40026),
               libhtml-parser-perl,
               libio-compress-lzma-perl,
               libjson-types-perl,
               libmodule-install-perl,
               libmoosex-fileattribute-perl,
               libmoosex-method-signatures-perl,
               libmoosex-object-pluggable-perl,
               libmoosex-singleton-perl,
               libnamespace-sweep-perl,
               libnet-telnet-perl,
               libnumber-phone-perl,
               libperl5i-perl,
               libregexp-parser-perl,
               libsipwise-base-perl,
               libstrictures-perl,
               libsys-sig-perl,
               libtext-csv-xs-perl,
               libtrycatch-perl,
               liburi-encode-perl,
               libxml-mini-perl,
               ngcp-schema
Standards-Version: 3.9.4
Homepage: http://sipwise.com/

Package: ngcp-panel
Architecture: all
Pre-Depends: nginx-common
# only for trunk installations, remove it
Replaces: ngcp-panel-common (<= 1.0.15),
          ngcp-panel-nginx (<= 1.0.15)
Breaks: ngcp-panel-common (<= 1.0.15),
        ngcp-panel-nginx (<= 1.0.15)
Depends: libcatalyst-actionrole-acl-perl,
         libcatalyst-modules-perl,
         libcatalyst-perl (>= 5.90040),
         libcatalyst-view-tt-perl,
         libconfig-general-perl,
         libconvert-ascii85-perl,
         libdata-printer-perl,
         libdata-validate-ip-perl,
         libdatetime-format-iso8601-perl,
         libdatetime-format-rfc3339-perl,
         libdatetime-format-mysql-perl,
         libdatetime-perl,
         libdbix-class-resultset-recursiveupdate-perl (>= 0.30~),
         libemail-valid-perl,
         libfcgi-procmanager-perl,
         libfile-type-perl,
         libgd-gd2-perl,
         libhash-merge-simple-perl,
         libhtml-formhandler-model-dbic-perl,
         libhtml-formhandler-perl (>= 0.40026),
         libhtml-parser-perl,
         libhttp-message-perl,
         libipc-system-simple-perl,
         libio-compress-lzma-perl,
         liblog-log4perl-perl,
         libmodule-runtime-perl,
         libmoose-perl,
         libmoose-perl (>= 2.0~),
         libmoosex-fileattribute-perl,
         libmoosex-object-pluggable-perl,
         libmoosex-singleton-perl,
         libnamespace-sweep-perl,
         libnet-http-perl,
         libnet-telnet-perl,
         libnumber-phone-perl,
         libregexp-parser-perl,
         libsys-sig-perl,
         libtemplate-perl,
         libtext-csv-xs-perl,
         liburi-encode-perl,
         libxml-mini-perl,
         ngcp-schema,
         ngcp-templates-ce-ngcp-panel (> 3.0.19) | ngcp-templates-pro-ngcp-panel (> 3.0.19),
         ${misc:Depends},
         ${perl:Depends}
Description: Catalyst based application
 A completely overhauled provisioning interface for the
 NGCP system.
