Source: ngcp-panel
Section: admin
Priority: extra
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends: debhelper (>= 8),
               libautodie-perl (>= 2.21~),
               libcarp-fix-1-25-perl,
               libcatalyst-actionrole-acl-perl,
               libcatalyst-actionrole-checktrailingslash-perl,
               libcatalyst-actionrole-requiressl-perl,
               libcatalyst-authentication-credential-http-perl,
               libcatalyst-devel-perl,
               libcatalyst-modules-perl,
               libcatalyst-perl (>= 5.90040),
               libcatalyst-plugin-email-perl,
               libcatalyst-plugin-enablemiddleware-perl,
               libcatalyst-view-tt-perl,
               libconvert-ascii85-perl,
               libdata-hal-perl,
               libdata-printer-perl,
               libdata-validate-ip-perl,
               libdatetime-format-http-perl,
               libdatetime-format-iso8601-perl,
               libdatetime-format-mysql-perl,
               libdatetime-format-rfc3339-perl,
               libdbix-class-resultset-recursiveupdate-perl (>= 0.30~),
               libdevel-cover-perl,
               libemail-mime-perl,
               libemail-send-perl,
               libemail-sender-perl,
               libfile-spec-perl (>= 3.4000~),
               libfile-type-perl,
               libgd-gd2-perl,
               libgeography-countries-perl,
               libhash-merge-simple-perl,
               libhash-storediterator-perl,
               libhtml-formhandler-model-dbic-perl,
               libhtml-formhandler-perl (>= 0.40026),
               libhtml-parser-perl,
               libio-compress-lzma-perl,
               libio-socket-ip-perl,
               libjson-multivalueordered-perl,
               libjson-pointer-perl,
               libjson-types-perl,
               libmodule-install-perl,
               libmoosex-fileattribute-perl,
               libmoosex-method-signatures-perl,
               libmoosex-object-pluggable-perl,
               libmoosex-singleton-perl,
               libnamespace-sweep-perl,
               libnet-telnet-perl,
               libnumber-phone-perl,
               libpath-tiny-perl,
               libperl5i-perl,
               libplack-middleware-deflater-perl,
               libregexp-parser-perl,
               librsvg2-bin,
               libsereal-decoder-perl,
               libsereal-encoder-perl,
               libsipwise-base-perl,
               libstrictures-perl,
               libstring-mkpasswd-perl,
               libsys-sig-perl,
               libtemplate-plugin-json-escape-perl,
               libtest-mockobject-perl,
               libtext-csv-xs-perl,
               libtrycatch-perl,
               libtypes-path-tiny-perl,
               liburi-encode-perl,
               libxml-mini-perl,
               libxml-xpath-perl,
               ngcp-schema,
               openssl
Standards-Version: 3.9.5
Homepage: http://sipwise.com/

Package: ngcp-panel
Architecture: all
Pre-Depends: nginx-common
Depends: gettext,
         gnutls-bin,
         libautodie-perl (>= 2.21~),
         libcatalyst-actionrole-acl-perl,
         libcatalyst-actionrole-checktrailingslash-perl,
         libcatalyst-actionrole-requiressl-perl,
         libcatalyst-authentication-credential-http-perl,
         libcatalyst-modules-perl,
         libcatalyst-perl (>= 5.90040),
         libcatalyst-plugin-email-perl,
         libcatalyst-plugin-enablemiddleware-perl,
         libcatalyst-view-tt-perl,
         libchi-perl,
         libconfig-general-perl,
         libconvert-ascii85-perl,
         libdata-hal-perl,
         libdata-printer-perl,
         libdata-record-perl,
         libdata-validate-ip-perl,
         libdatetime-format-http-perl,
         libdatetime-format-iso8601-perl,
         libdatetime-format-mysql-perl,
         libdatetime-format-rfc3339-perl,
         libdatetime-perl,
         libdbix-class-resultset-recursiveupdate-perl (>= 0.30~),
         libdigest-sha3-perl,
         libemail-mime-perl,
         libemail-send-perl,
         libemail-sender-perl,
         libemail-valid-perl,
         libfcgi-procmanager-perl,
         libfile-spec-perl (>= 3.4000~),
         libfile-type-perl,
         libgd-gd2-perl,
         libgeography-countries-perl,
         libhash-merge-simple-perl,
         libhtml-formhandler-model-dbic-perl,
         libhtml-formhandler-perl (>= 0.40026),
         libhtml-parser-perl,
         libhttp-message-perl,
         libio-compress-lzma-perl,
         libio-socket-ip-perl,
         libipc-system-simple-perl,
         libjson-multivalueordered-perl,
         libjson-pointer-perl,
         libjson-types-perl,
         liblocale-maketext-lexicon-perl,
         liblog-log4perl-perl,
         libmodule-runtime-perl,
         libmoose-perl,
         libmoose-perl (>= 2.0~),
         libmoosex-fileattribute-perl,
         libmoosex-object-pluggable-perl,
         libmoosex-singleton-perl,
         libnamespace-sweep-perl,
         libnet-http-perl,
         libnet-telnet-perl,
         libnumber-phone-perl,
         libpath-tiny-perl,
         libplack-middleware-deflater-perl,
         libregexp-parser-perl,
         librsvg2-bin,
         libsereal-decoder-perl,
         libsereal-encoder-perl,
         libstring-mkpasswd-perl,
         libsys-sig-perl,
         libtemplate-perl,
         libtemplate-plugin-json-escape-perl,
         libtest-mockobject-perl,
         libtext-csv-xs-perl,
         libtypes-path-tiny-perl,
         liburi-encode-perl,
         libxml-mini-perl,
         libxml-xpath-perl,
         ngcp-schema,
         ngcp-templates-ce-ngcp-panel (>= 3.0.19) | ngcp-templates-pro-ngcp-panel (>= 3.0.19),
         openssl,
         ${misc:Depends},
         ${perl:Depends}
Description: Catalyst based application
 A completely overhauled provisioning interface for the
 NGCP system.

Package: ngcp-panel-tools
Architecture: all
Depends: curl,
         openssl,
         ${misc:Depends},
         ${perl:Depends}
Description: Tools from ngcp-panel application
 A completely overhauled provisioning interface for the
 NGCP system.
 .
 This package contains some helper tools from ngcp-panel
