Source: ngcp-panel
Section: admin
Priority: extra
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends: debhelper (>= 8),
               libcarp-fix-1-25-perl,
               libcatalyst-actionrole-acl-perl,
               libcatalyst-devel-perl,
               libcatalyst-modules-perl,
               libcatalyst-perl (>= 5.90040),
               libcatalyst-view-tt-perl,
               libdata-validate-ip-perl,
               libdatetime-format-iso8601-perl,
               libdbix-class-resultset-recursiveupdate-perl (>= 0.30~),
               libdevel-cover-perl,
               libfile-type-perl,
               libhash-storediterator-perl,
               libhtml-formhandler-model-dbic-perl,
               libhtml-formhandler-perl,
               libmodule-install-perl,
               libmoosex-fileattribute-perl,
               libmoosex-method-signatures-perl,
               libmoosex-object-pluggable-perl,
               libmoosex-singleton-perl,
               libnamespace-sweep-perl,
               libperl5i-perl,
               libregexp-parser-perl,
               libsipwise-base-perl,
               libstrictures-perl,
               libsys-sig-perl,
               libtext-csv-xs-perl,
               libtrycatch-perl,
               ngcp-schema
Standards-Version: 3.9.4
Homepage: http://sipwise.com/

Package: ngcp-panel
Architecture: all
Depends: libcatalyst-actionrole-acl-perl,
         libcatalyst-modules-perl,
         libcatalyst-perl (>= 5.90040),
         libcatalyst-view-tt-perl,
         libconfig-general-perl,
         libdata-validate-ip-perl,
         libdatetime-format-iso8601-perl,
         libdatetime-perl,
         libdbix-class-resultset-recursiveupdate-perl (>= 0.30~),
         libemail-valid-perl,
         libfile-type-perl,
         libhtml-formhandler-model-dbic-perl,
         libhtml-formhandler-perl,
         libhttp-message-perl,
         libipc-system-simple-perl,
         liblog-log4perl-perl,
         libmodule-runtime-perl,
         libmoose-perl,
         libmoose-perl (>= 2.0~),
         libmoosex-fileattribute-perl,
         libmoosex-object-pluggable-perl,
         libmoosex-singleton-perl,
         libnamespace-autoclean-perl,
         libnamespace-sweep-perl,
         libnet-http-perl,
         libregexp-parser-perl,
         libsys-sig-perl,
         libtemplate-perl,
         libtext-csv-xs-perl,
         ngcp-schema,
         ${misc:Depends},
         ${perl:Depends}
Description: Catalyst based application
 TODO
