[Unit]
Description=NGCP Panel Webapp
Requires=network.target
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/default/ngcp-panel
Environment="HOME=/usr/share/ngcp-panel"
User=www-data
Group=www-data
RuntimeDirectory=fastcgi
PidFile=/var/run/fastcgi/ngcp-panel.pid
ExecStart=/usr/share/ngcp-panel/ngcp_panel_fastcgi.pl --listen /var/run/fastcgi/ngcp-panel.sock --pidfile /var/run/fastcgi/ngcp-panel.pid --nproc $NPROC
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
