[% META title = 'Resellers' -%]
[%
    helper.name = 'Reseller';
    helper.controller = 'reseller';
    helper.data = resellers;
    helper.column_titles = [ '#', 'Name', 'Contract #', 'Status' ];
    helper.column_fields = [ 'id', 'name', 'contract_id', 'status' ];

    helper.edit_object = edit;
    helper.form_object = form;

    PROCESS 'helpers/table_form.tt';
-%]
[% # vim: set tabstop=4 syntax=html expandtab: -%]
