[% site_config.title = c.loc('Reset Password') -%]
[% IF edit_flag || create_flag -%]
[%
    PROCESS "helpers/modal.tt";
    modal_header(m.name = c.loc('Password'),
                 m.create_flag = create_flag);
    form.render;
    modal_footer();
    modal_script(m.close_target = close_target);
-%]
[% END -%]