Source: ngcp-panel-tests-rest-api
Build-Depends: libboolean-perl,
               libdata-compare-perl,
               libdata-hal-perl,
               libdata-validate-ip-perl,
               libdatetime-format-iso8601-perl,
               libdatetime-format-strptime-perl,
               libdbix-class-perl,
               libemail-sender-perl,
               libhtml-formhandler-perl,
               libjson-perl,
               libjson-pointer-perl,
               libfile-find-rule-perl,
               libfile-grep-perl,
               libnetaddr-ip-perl,
               libsereal-decoder-perl,
               libsereal-encoder-perl,
               libsipwise-base-perl,
               libstring-mkpasswd-perl,
               libstring-shellquote-perl,
               libtap-harness-archive-perl,
               libtest-deep-perl,
               libtext-table-perl,
               libtime-warp-perl,
               libtrycatch-perl,
               libuuid-perl
