[% META title = 'Domains' -%]
[%
    helper.name = 'Domain';
    helper.data = domains;
    helper.messages = messages;
    helper.column_titles = [ '#', 'Domain' ];
    helper.column_fields = [ 'id', 'domain' ];

    helper.close_target = close_target;
    helper.create_flag = create_flag;
    helper.edit_object = domain;
    helper.form_object = form;

    PROCESS 'helpers/datatables.tt';
-%]
[% # vim: set tabstop=4 syntax=html expandtab: -%]
