[% META title = 'Domain Preferences' -%]

[% helper.name = 'Domain'; -%]
[% helper.rows = c.stash.pref_rows; -%]

[% PROCESS 'helpers/pref_table.tt' -%]

[% # vim: set tabstop=4 syntax=html expandtab: -%]
